## QOLT Tracker

I will be looking over my data collected from web scrapping as well as from a csv where I got data.
The data is looking over places in the world where they have a public software engineer salary. I will then be collecting the benefits from each of the countries to determine the best place to live as a software developer.

In [2]:
import pandas as pd
import numpy as np
import web_scrape

df = pd.read_csv('./data/Cost of Living Index.csv', header='infer')

### Cost of Living Index Scores

1. <u>Cost of Living Index (Excl. Rent)</u>: This index measures the relative prices of consumer goods and services—including groceries, dining, transportation, and utilities—but excludes housing costs like rent or mortgage payments. For example, a city with a Cost of Living Index of <u>120 suggests that everyday expenses are 20% higher</u> than in NYC, excluding rent.​
2. <u>Rent Index</u>: This index evaluates the average cost of renting apartments in a city compared to New York City. An <u>index value of 80 indicates</u> that rental prices are approximately <u>20% lower</u> than those in New York City.
3. <u>Groceries Index</u>: This index assesses the <u>cost of grocery items</u> in a city relative to New York City. It is calculated using the weighted prices of various food items commonly found in the "Markets" section of Numbeo's database.​
4. <u>Restaurants Index</u>: This index compares the <u>prices of meals and beverages in restaurants and bars</u> between a given city and New York City, reflecting dining out expenses.
5. <u>Cost of Living Plus Rent Index</u>: This comprehensive index combines the costs captured in the <u>Cost of Living Index and the Rent Index</u>, providing an <u>overall comparison</u> of both everyday expenses and housing costs relative to New York City.
6. <u>Local Purchasing Power</u>: This index indicates the relative purchasing power of residents in a city based on the average net salary. A value of <u>40 implies that, on average</u>, residents can afford <u>60% fewer goods</u> and services than those in New York City earning an average salary.​

In [5]:
df.drop('Rank', axis=1)
df.head()

,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,Cayman Islands,108.2,76.3,94.3,113.9,96.6,149.7
1,2,Switzerland,106.8,50.6,82.3,111.9,100.3,177.8
2,3,Iceland,94.5,50.1,75.2,102.5,99.3,120.1
3,4,Bahamas,85.4,47.1,68.7,88.7,89.6,62.8
4,5,Singapore,85.3,75.1,80.9,77.7,54.3,103.0

In [ ]:
df.drop('Rank', axis=1)
column_names = ['Country', 'Salary']


df2 = pd.DataFrame.from_records(web_scrape.results, columns=column_names)
df2

           Country    Salary
0    United States  $110,140
1      Switzerland   $97,518
2           Israel   $71,559
3          Denmark   $63,680
4           Canada   $61,680
5           Norway   $57,013
6        Australia   $55,640
7   United Kingdom   $55,275
8          Germany   $52,275
9           Sweden   $50,437
10         Ireland   $48,427
11         Finland   $47,850
12     Netherlands   $45,180
13          France   $43,849
14     New Zealand   $42,399
15       Singapore   $41,864
16       Argentina   $39,898
17           Japan   $36,024
18           China   $23,790
19          Russia   $23,737
20          Poland   $22,740
21         Ukraine   $22,348
22    South Africa   $19,151
23          Brazil   $11,337
24     Philippines    $7,936
25           India    $7,725
26         Nigeria    $7,255

In [12]:
df_joined = df.merge(df2, on='Country', how='inner')
df_joined

,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Salary
0,2,Switzerland,106.8,50.6,82.3,111.9,100.3,177.8,"$97,518"
1,5,Singapore,85.3,75.1,80.9,77.7,54.3,103.0,"$41,864"
2,6,Norway,78.9,28.2,56.8,81.1,82.4,129.9,"$57,013"
3,7,Denmark,74.1,28.8,54.3,67.6,85.1,148.6,"$63,680"
4,11,Israel,69.6,28.7,51.8,65.1,75.3,124.2,"$71,559"
5,13,Netherlands,68.1,37.4,54.7,63.0,74.0,139.5,"$45,180"
6,15,Ireland,66.6,44.7,57.0,64.7,69.6,117.4,"$48,427"
7,17,United States,64.8,41.3,54.6,71.3,65.5,157.2,"$110,140"
8,18,Germany,64.7,25.4,47.6,62.1,60.8,140.4,"$52,275"
9,19,Finland,64.5,21.1,45.6,64.9,67.0,139.5,"$47,850"
10,20,France,64.4,22.0,46.0,70.1,60.0,119.8,"$43,849"
11,21,United Kingdom,64.2,32.9,50.6,59.3,67.0,127.4,"$55,275"
12,23,Australia,63.0,32.1,49.5,71.1,58.3,143.8,"$55,640"
13,24,Sweden,62.8,21.8,44.9,63.5,62.6,141.1,"$50,437"
14,26,Canada,60.7,31.9,48.1,67.5,59.0,119.4,"$61,680"
15,28,New Zealand,59.3,26.1,44.9,65.6,56.7,136.3,"$42,399"
16,44,Japan,48.9,15.4,34.3,59.3,30.1,126.4,"$36,024"
17,59,Poland,43.7,18.4,32.7,38.6,42.2,100.4,"$22,740"
18,77,Argentina,38.3,11.5,26.6,38.6,43.1,48.3,"$39,898"
19,85,Russia,36.1,14.1,26.5,35.2,34.4,62.6,"$23,737"
20,101,South Africa,32.0,11.9,23.3,29.2,29.7,115.2,"$19,151"
21,110,Philippines,29.5,7.3,19.8,34.9,18.5,40.5,"$7,936"
22,111,China,29.4,10.6,21.2,33.5,19.9,88.1,"$23,790"
23,114,Brazil,28.6,8.2,19.7,29.1,23.8,46.6,"$11,337"
24,123,Ukraine,26.1,7.9,18.2,26.6,23.1,51.2,"$22,348"
25,125,Nigeria,25.7,24.0,24.9,30.6,19.5,10.1,"$7,255"
26,141,India,19.0,4.7,12.8,21.9,15.2,83.8,"$7,725"