## QOLT Tracker

I will be looking over my data collected from web scrapping as well as from a csv where I got data.
The data is looking over places in the world where they have a public software engineer salary. I will then be collecting the benefits from each of the countries to determine the best place to live as a software developer.

In [ ]:
import pandas as pd
import numpy as np
import web_scrape
import nbformat
import plotly.express as px
import plotly.io as pio
import plotly.graph_objects as go

# Need to find a way to change the errors on notebook.
pio.renderers.default = 'notebook'

df = pd.read_csv('./data/Cost of Living Index.csv', header='infer')

### Cost of Living Index Scores

1. <u>Cost of Living Index (Excl. Rent)</u>: This index measures the relative prices of consumer goods and services—including groceries, dining, transportation, and utilities—but excludes housing costs like rent or mortgage payments. For example, a city with a Cost of Living Index of <u>120 suggests that everyday expenses are 20% higher</u> than in NYC, excluding rent.​
2. <u>Rent Index</u>: This index evaluates the average cost of renting apartments in a city compared to New York City. An <u>index value of 80 indicates</u> that rental prices are approximately <u>20% lower</u> than those in New York City.
3. <u>Groceries Index</u>: This index assesses the <u>cost of grocery items</u> in a city relative to New York City. It is calculated using the weighted prices of various food items commonly found in the "Markets" section of Numbeo's database.​
4. <u>Restaurants Index</u>: This index compares the <u>prices of meals and beverages in restaurants and bars</u> between a given city and New York City, reflecting dining out expenses.
5. <u>Cost of Living Plus Rent Index</u>: This comprehensive index combines the costs captured in the <u>Cost of Living Index and the Rent Index</u>, providing an <u>overall comparison</u> of both everyday expenses and housing costs relative to New York City.
6. <u>Local Purchasing Power</u>: This index indicates the relative purchasing power of residents in a city based on the average net salary. A value of <u>40 implies that, on average</u>, residents can afford <u>60% fewer goods</u> and services than those in New York City earning an average salary.​

In [2]:
df.drop('Rank', axis=1)
df.head()

,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,Cayman Islands,108.2,76.3,94.3,113.9,96.6,149.7
1,2,Switzerland,106.8,50.6,82.3,111.9,100.3,177.8
2,3,Iceland,94.5,50.1,75.2,102.5,99.3,120.1
3,4,Bahamas,85.4,47.1,68.7,88.7,89.6,62.8
4,5,Singapore,85.3,75.1,80.9,77.7,54.3,103.0

In [4]:
df.drop('Rank', axis=1)
column_names = ['Country', 'Salary']


df2 = pd.DataFrame.from_records(web_scrape.results, columns=column_names)
df2.head()

         Country    Salary
0  United States  $110,140
1    Switzerland   $97,518
2         Israel   $71,559
3        Denmark   $63,680
4         Canada   $61,680

In [7]:
df_joined = df.merge(df2, on='Country', how='inner')
df_joined

,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Salary
0,2,Switzerland,106.8,50.6,82.3,111.9,100.3,177.8,"$97,518"
1,5,Singapore,85.3,75.1,80.9,77.7,54.3,103.0,"$41,864"
2,6,Norway,78.9,28.2,56.8,81.1,82.4,129.9,"$57,013"
3,7,Denmark,74.1,28.8,54.3,67.6,85.1,148.6,"$63,680"
4,11,Israel,69.6,28.7,51.8,65.1,75.3,124.2,"$71,559"
5,13,Netherlands,68.1,37.4,54.7,63.0,74.0,139.5,"$45,180"
6,15,Ireland,66.6,44.7,57.0,64.7,69.6,117.4,"$48,427"
7,17,United States,64.8,41.3,54.6,71.3,65.5,157.2,"$110,140"
8,18,Germany,64.7,25.4,47.6,62.1,60.8,140.4,"$52,275"
9,19,Finland,64.5,21.1,45.6,64.9,67.0,139.5,"$47,850"
10,20,France,64.4,22.0,46.0,70.1,60.0,119.8,"$43,849"
11,21,United Kingdom,64.2,32.9,50.6,59.3,67.0,127.4,"$55,275"
12,23,Australia,63.0,32.1,49.5,71.1,58.3,143.8,"$55,640"
13,24,Sweden,62.8,21.8,44.9,63.5,62.6,141.1,"$50,437"
14,26,Canada,60.7,31.9,48.1,67.5,59.0,119.4,"$61,680"
15,28,New Zealand,59.3,26.1,44.9,65.6,56.7,136.3,"$42,399"
16,44,Japan,48.9,15.4,34.3,59.3,30.1,126.4,"$36,024"
17,59,Poland,43.7,18.4,32.7,38.6,42.2,100.4,"$22,740"
18,77,Argentina,38.3,11.5,26.6,38.6,43.1,48.3,"$39,898"
19,85,Russia,36.1,14.1,26.5,35.2,34.4,62.6,"$23,737"
20,101,South Africa,32.0,11.9,23.3,29.2,29.7,115.2,"$19,151"
21,110,Philippines,29.5,7.3,19.8,34.9,18.5,40.5,"$7,936"
22,111,China,29.4,10.6,21.2,33.5,19.9,88.1,"$23,790"
23,114,Brazil,28.6,8.2,19.7,29.1,23.8,46.6,"$11,337"
24,123,Ukraine,26.1,7.9,18.2,26.6,23.1,51.2,"$22,348"
25,125,Nigeria,25.7,24.0,24.9,30.6,19.5,10.1,"$7,255"
26,141,India,19.0,4.7,12.8,21.9,15.2,83.8,"$7,725"

In [ ]:
df_joined['Cost of Living Difference'] = df_joined['Cost of Living Index'] - df_joined.loc[df_joined['Country'] == 'United States', 'Cost of Living Index'].values[0]
df_joined['Rent Difference'] = df_joined['Rent Index'] - df_joined.loc[df_joined['Country'] == 'United States', 'Rent Index'].values[0]
df_joined['Cost of Living Plus Rent Index Difference'] = df_joined['Cost of Living Plus Rent Index'] - df_joined.loc[df_joined['Country'] == 'United States', 'Cost of Living Plus Rent Index'].values[0]
df_joined['Groceries Difference'] = df_joined['Groceries Index'] - df_joined.loc[df_joined['Country'] == 'United States', 'Groceries Index'].values[0]
df_joined['Restaurant Price Difference'] = df_joined['Restaurant Price Index'] - df_joined.loc[df_joined['Country'] == 'United States', 'Restaurant Price Index'].values[0]
df_joined['Local Purchasing Power Difference'] = df_joined['Local Purchasing Power Index'] - df_joined.loc[df_joined['Country'] == 'United States', 'Local Purchasing Power Index'].values[0]
df_joined['Salary'] = df_joined['Salary'].replace("[$,]", "", regex=True).astype(int)
df_joined['Salary Difference'] = df_joined['Salary'] - df_joined.loc[df_joined['Country'] == 'United States', 'Salary'].values[0]

In [9]:
df_joined = df_joined[["Rank", "Country", "Cost of Living Index", 'Cost of Living Difference', "Rent Index", 'Rent Difference', "Cost of Living Plus Rent Index", 'Cost of Living Plus Rent Index Difference', "Groceries Index", 'Groceries Difference', "Restaurant Price Index", 'Restaurant Price Difference', "Local Purchasing Power Index", 'Local Purchasing Power Difference', "Salary", 'Salary Difference']]
df_joined

,Rank,Country,Cost of Living Index,Cost of Living Difference,Rent Index,Rent Difference,Cost of Living Plus Rent Index,Cost of Living Plus Rent Index Difference,Groceries Index,Groceries Difference,Restaurant Price Index,Restaurant Price Difference,Local Purchasing Power Index,Local Purchasing Power Difference,Salary,Salary Difference
0,2,Switzerland,106.8,42.0,50.6,9.3,82.3,27.7,111.9,40.6,100.3,34.8,177.8,20.6,97518,-12622
1,5,Singapore,85.3,20.5,75.1,33.8,80.9,26.3,77.7,6.4,54.3,-11.2,103.0,-54.2,41864,-68276
2,6,Norway,78.9,14.1,28.2,-13.1,56.8,2.2,81.1,9.8,82.4,16.9,129.9,-27.3,57013,-53127
3,7,Denmark,74.1,9.3,28.8,-12.5,54.3,-0.3,67.6,-3.7,85.1,19.6,148.6,-8.6,63680,-46460
4,11,Israel,69.6,4.8,28.7,-12.6,51.8,-2.8,65.1,-6.2,75.3,9.8,124.2,-33.0,71559,-38581
5,13,Netherlands,68.1,3.3,37.4,-3.9,54.7,0.1,63.0,-8.3,74.0,8.5,139.5,-17.7,45180,-64960
6,15,Ireland,66.6,1.8,44.7,3.4,57.0,2.4,64.7,-6.6,69.6,4.1,117.4,-39.8,48427,-61713
7,17,United States,64.8,0.0,41.3,0.0,54.6,0.0,71.3,0.0,65.5,0.0,157.2,0.0,110140,0
8,18,Germany,64.7,-0.1,25.4,-15.9,47.6,-7.0,62.1,-9.2,60.8,-4.7,140.4,-16.8,52275,-57865
9,19,Finland,64.5,-0.3,21.1,-20.2,45.6,-9.0,64.9,-6.4,67.0,1.5,139.5,-17.7,47850,-62290
10,20,France,64.4,-0.4,22.0,-19.3,46.0,-8.6,70.1,-1.2,60.0,-5.5,119.8,-37.4,43849,-66291
11,21,United Kingdom,64.2,-0.6,32.9,-8.4,50.6,-4.0,59.3,-12.0,67.0,1.5,127.4,-29.8,55275,-54865
12,23,Australia,63.0,-1.8,32.1,-9.2,49.5,-5.1,71.1,-0.2,58.3,-7.2,143.8,-13.4,55640,-54500
13,24,Sweden,62.8,-2.0,21.8,-19.5,44.9,-9.7,63.5,-7.8,62.6,-2.9,141.1,-16.1,50437,-59703
14,26,Canada,60.7,-4.1,31.9,-9.4,48.1,-6.5,67.5,-3.8,59.0,-6.5,119.4,-37.8,61680,-48460
15,28,New Zealand,59.3,-5.5,26.1,-15.2,44.9,-9.7,65.6,-5.7,56.7,-8.8,136.3,-20.9,42399,-67741
16,44,Japan,48.9,-15.9,15.4,-25.9,34.3,-20.3,59.3,-12.0,30.1,-35.4,126.4,-30.8,36024,-74116
17,59,Poland,43.7,-21.1,18.4,-22.9,32.7,-21.9,38.6,-32.7,42.2,-23.3,100.4,-56.8,22740,-87400
18,77,Argentina,38.3,-26.5,11.5,-29.8,26.6,-28.0,38.6,-32.7,43.1,-22.4,48.3,-108.9,39898,-70242
19,85,Russia,36.1,-28.7,14.1,-27.2,26.5,-28.1,35.2,-36.1,34.4,-31.1,62.6,-94.6,23737,-86403
20,101,South Africa,32.0,-32.8,11.9,-29.4,23.3,-31.3,29.2,-42.1,29.7,-35.8,115.2,-42.0,19151,-90989
21,110,Philippines,29.5,-35.3,7.3,-34.0,19.8,-34.8,34.9,-36.4,18.5,-47.0,40.5,-116.7,7936,-102204
22,111,China,29.4,-35.4,10.6,-30.7,21.2,-33.4,33.5,-37.8,19.9,-45.6,88.1,-69.1,23790,-86350
23,114,Brazil,28.6,-36.2,8.2,-33.1,19.7,-34.9,29.1,-42.2,23.8,-41.7,46.6,-110.6,11337,-98803
24,123,Ukraine,26.1,-38.7,7.9,-33.4,18.2,-36.4,26.6,-44.7,23.1,-42.4,51.2,-106.0,22348,-87792
25,125,Nigeria,25.7,-39.1,24.0,-17.3,24.9,-29.7,30.6,-40.7,19.5,-46.0,10.1,-147.1,7255,-102885
26,141,India,19.0,-45.8,4.7,-36.6,12.8,-41.8,21.9,-49.4,15.2,-50.3,83.8,-73.4,7725,-102415

In [39]:
df_joined['US Salary'] = df_joined.loc[df_joined['Country'] == 'United States', 'Salary'].values[0]
df_joined.head()

C:\Users\Brand\AppData\Local\Temp\ipykernel_4928\954626939.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Rank,Country,Cost of Living Index,Cost of Living Difference,Rent Index,Rent Difference,Cost of Living Plus Rent Index,Cost of Living Plus Rent Index Difference,Groceries Index,Groceries Difference,Restaurant Price Index,Restaurant Price Difference,Local Purchasing Power Index,Local Purchasing Power Difference,Salary,Salary Difference,US Salary
0,2,Switzerland,106.8,42.0,50.6,9.3,82.3,27.7,111.9,40.6,100.3,34.8,177.8,20.6,97518,-12622,110140
1,5,Singapore,85.3,20.5,75.1,33.8,80.9,26.3,77.7,6.4,54.3,-11.2,103.0,-54.2,41864,-68276,110140
2,6,Norway,78.9,14.1,28.2,-13.1,56.8,2.2,81.1,9.8,82.4,16.9,129.9,-27.3,57013,-53127,110140
3,7,Denmark,74.1,9.3,28.8,-12.5,54.3,-0.3,67.6,-3.7,85.1,19.6,148.6,-8.6,63680,-46460,110140
4,11,Israel,69.6,4.8,28.7,-12.6,51.8,-2.8,65.1,-6.2,75.3,9.8,124.2,-33.0,71559,-38581,110140

In [52]:
#fig = px.bar(x = df_joined['Country'], y = df_joined['Salary'])
fig = go.Figure()

fig.add_trace(go.Bar(
    x=df_joined['Country'],
    y=df_joined['US Salary'],
    name='Difference from United States',
    marker_color='lightgray'
))

fig.add_trace(go.Bar(
    x = df_joined['Country'],
    y=df_joined['Salary'],
    name='Salary',
    marker_color='lightblue'
))

fig.update_layout(
    barmode='overlay',
    title='Salary Compared to United States',
    xaxis_title='Country',
    yaxis_title='Salary (USD)',
    legend_title='Legend',
    xaxis=dict(
        tickangle=-45
    )
)

fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed