## QOLT Tracker

I will be looking over my data collected from web scrapping as well as from a csv where I got data.
The data is looking over places in the world where they have a public software engineer salary. I will then be collecting the benefits from each of the countries to determine the best place to live as a software developer.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('./data/Cost of Living Index.csv', header='infer')

### Cost of Living Index Scores

1. <u>Cost of Living Index (Excl. Rent)</u>: This index measures the relative prices of consumer goods and services—including groceries, dining, transportation, and utilities—but excludes housing costs like rent or mortgage payments. For example, a city with a Cost of Living Index of <u>120 suggests that everyday expenses are 20% higher</u> than in NYC, excluding rent.​
2. <u>Rent Index</u>: This index evaluates the average cost of renting apartments in a city compared to New York City. An <u>index value of 80 indicates</u> that rental prices are approximately <u>20% lower</u> than those in New York City.
3. <u>Groceries Index</u>: This index assesses the <u>cost of grocery items</u> in a city relative to New York City. It is calculated using the weighted prices of various food items commonly found in the "Markets" section of Numbeo's database.​
4. <u>Restaurants Index</u>: This index compares the <u>prices of meals and beverages in restaurants and bars</u> between a given city and New York City, reflecting dining out expenses.
5. <u>Cost of Living Plus Rent Index</u>: This comprehensive index combines the costs captured in the <u>Cost of Living Index and the Rent Index</u>, providing an <u>overall comparison</u> of both everyday expenses and housing costs relative to New York City.
6. <u>Local Purchasing Power</u>: This index indicates the relative purchasing power of residents in a city based on the average net salary. A value of <u>40 implies that, on average</u>, residents can afford <u>60% fewer goods</u> and services than those in New York City earning an average salary.​

In [ ]:
df.drop('Rank', axis=1)

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,Cayman Islands,108.2,76.3,94.3,113.9,96.6,149.7
1,Switzerland,106.8,50.6,82.3,111.9,100.3,177.8
2,Iceland,94.5,50.1,75.2,102.5,99.3,120.1
3,Bahamas,85.4,47.1,68.7,88.7,89.6,62.8
4,Singapore,85.3,75.1,80.9,77.7,54.3,103.0
...,...,...,...,...,...,...,...
138,Egypt,19.6,3.9,12.8,20.1,17.6,22.7
139,Afghanistan,19.1,2.0,11.6,16.6,13.2,35.7
140,India,19.0,4.7,12.8,21.9,15.2,83.8
141,Pakistan,17.7,3.1,11.3,17.1,14.0,33.6
142,Libya,17.2,3.8,11.3,20.9,11.6,55.9